<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renj.jetpack">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackDemo">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".fvp.FVPActivity"
            android:label="Fragment、Fragment懒加载、ViewPager、ViewPager2的实现" />

        <activity
            android:name=".navigation.NavigationActivity"
            android:label="Navigation 组件使用" />

        <activity
            android:name=".paging.PagingListActivity"
            android:label="Paging 框架使用" />

        <activity
            android:name=".room.RoomOperatorActivity"
            android:label="Room 使用" />

        <activity
            android:name=".grid.GridLayoutActivity"
            android:label="GridLayout 使用" />

        <activity
            android:name=".compose.activity.ComposeMainActivity"
            android:label="compose 使用" />
        <activity
            android:name=".compose.activity.ComposeListActivity"
            android:label="compose 列表" />
    </application>

</manifest>